*{
    box-sizing: border-box;
}

#result, #result_2{
    text-align: center;
    text-decoration:underline;
}

#myMap{
    width:100%;
    height: 500px;
    border: 2px solid black;
}

#appName, #appCodeName, #product, #appVersion,
#userAgent, #onLine, #screenWidth, #screenHeight,
#screenColorDepth, #screenPixelDepth{
    margin-left: 100px;
    font-size:16pt;
    font-weight:600;
}

.container{
    background-color:blanchedalmond;
    border:2px solid black;
    margin-top: 10px;
}

.container_2{
    background-color:antiquewhite;
    border:2px solid black;
    margin-top: 10px;
}

