*{
    box-sizing: border-box;
}

.container{
    width: 98%;
    height:auto;
    margin: 0 auto;
    background-color:blanchedalmond;
}

.container_box{
    position: relative;
    top:20px;
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}

.container_news{
    margin-bottom: 20px;
    border-bottom: 3px solid gray;
}

.container_head{
    display:flex;
    width:100%;
    align-items: center;
}

.container_H>h2{
    font-size:26pt;
}

.container_btn{
    position: absolute;
    width:70%;
    right:0;
}

.btn{
    position: relative;
    left:1520px;
    width:120px;
    height:30px;
    font-size:14pt;
    font-weight: 600;
}

.container_text{
    font-size:20pt;
    text-align:justify;
    padding-bottom: 20px;
}